@use "../variables.scss";

.RED {
  background: variables.$red;
}
.BLUE {
  background: variables.$blue;
}
.ORANGE {
  background: variables.$orange;
}
.WHITE {
  background: variables.$white;
}
.RED.foreground {
  color: variables.$red;
  background: #00000000;
}
.BLUE.foreground {
  color: variables.$blue;
  background: #00000000;
}
.ORANGE.foreground {
  color: variables.$orange;
  background: #00000000;
}
.WHITE.foreground {
  color: variables.$white;
  background: #00000000;
}

// ===== Number Tokens
.number-token,
.port {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: bold;

  position: relative;
}

@media screen and (min-width: variables.$sm-breakpoint) {
  .number-token,
  .port {
    font-size: 1.3rem;
  }
}

.MuiPaper-elevation3.number-token {
  /*background: variables.$dark-gray;*/
  color: black;
}

.MuiPaper-elevation3.robber {
  background: #6b6b6b;
  position: absolute;
  font-size: 100%;
}

// ===== Tiles
.tile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.02);
}

// ===== Edges
.edge {
  position: absolute;
  display: flex;
  justify-content: center;
}
.road {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  opacity: 0.9;
  backdrop-filter: blur(8px) saturate(150%) brightness(1.2);
  -webkit-backdrop-filter: blur(8px) saturate(180%) brightness(1.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden; /* якщо хочеш обрізати псевдоелемент */
}

.road.ORANGE{
  background-color: orange!important;
}

.road::before {
  content: ""; /* без цього псевдоелемент не існує */
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;

  z-index: 0; /* або -1 якщо хочеш під .road */

  /* додаткові приколи, якщо хочеш Liquid Glass поверх */
  mix-blend-mode: screen;
  opacity: 0.8;
  border-radius: 6px;
}

@media screen and (min-width: variables.$sm-breakpoint) {
  .edge {
    height: 12px; // stroke
  }
}

// ===== Nodes
.node {
  position: absolute;
  height: 10px;
  width: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.settlement {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  
  &:before {
    content: '';
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    background: url('../assets/icons/house.svg') center center no-repeat;
    background-size: contain;
    filter: brightness(1.2) invert(1);
    opacity: 0.8;
  }
}

.city {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  
  &:before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background: url('../assets/icons/house.lodge.svg') center center no-repeat;
    background-size: contain;
    filter: brightness(1.2) invert(1);
    opacity: 0.8;
  }
}
.settlement,
.city {
  //box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* для Safari, бо він живе у 2012 */
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  opacity:0.95;
}

.BLUE.city,
.BLUE.settlement {
  background: rgba(variables.$blue, 0.8);
  &:before {
    filter: brightness(0) invert(1);
  }
}
.RED.city,
.RED.settlement {
  background: rgba(variables.$red, 0.8);
  &:before {
    filter: brightness(0) invert(1);
  }
}
.ORANGE.city,
.ORANGE.settlement {
  background: rgba(variables.$orange, 0.8);
  &:before {
    filter: brightness(0) invert(1);
  }
}
.WHITE.city,
.WHITE.settlement {
  background: rgba(variables.$white, 0.8);
  &:before {
    filter: brightness(0) invert(1);
  }
}

// Taken from https://codepen.io/peeke/pen/BjxXZa.
.pulse {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.edge .pulse {
  width: 90%;
  height: 90%;
}

.node .pulse {
  width: 75%;
  height: 75%;
}
