@use "../variables.scss";

.number-token {
    font-size:13px;
    text-align: center;
    padding: 0;
    line-height: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    .pips {
        font-size: 8px;
        line-height: 8px;
        letter-spacing: -0.15em;
    }

    &.flashing {
        animation: pulse 0.5s ease-in-out infinite alternate;
        cursor: pointer;
    }
}
.MuiPaper-root {
    background: initial!important;
    box-shadow: none!important;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
    }
    100% {
        box-shadow: 0 0 0 4px rgba(200, 200, 200, 0.6);
    }
}

@media(max-width: variables.$sm-breakpoint) {
    .number-token {
        --base-font-size: 75%;
    }
}

.number-svg-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 1.52rem;
  height: 1.52rem;
  margin: 0 auto;
}

.number-bg-black {
  background: black;
}

.number-bg-red {
  background: red;
}

.number-svg {
  margin-left: -0.1rem;
  margin-top: -0.1rem;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
}

