@use "../variables.scss";

$dark-divider: rgb(0 0 0 / 80%);

.left-drawer {
  .MuiDrawer-paper {
    width: 100%;
    background: variables.$dark-gray;
  }

  .MuiDivider-root {
    background: $dark-divider;
  }

  .MuiDrawer-paperAnchorDockedLeft {
    border-color: $dark-divider;
  }
}
