// Taken from https://material-ui.com/customization/breakpoints/
$sm-breakpoint: 400px;
$md-breakpoint: 960px;
$lg-breakpoint: 1280px;

$sm-gutter: 10px;

$black: #030000;
$blackbg: rgba(3, 0, 0, 0.90);
$dark-gray: #151313;

$blue: #0091FF;
$red: #FF4245;
$orange: #FF932F;
$white: #2ED158;

$blue-glass: rgba(0, 145, 255, 0.05);
$red-glass: rgba(255, 66, 69, 0.05);
$orange-glass: rgba(255, 147, 47, 0.05);
$white-glass: rgba(46, 209, 88, 0.05);

$wood: #22391f;
$brick: #53261d;
$wheat: #e6b41e;
$sheep: #6b911e;
$darker-sheep: #749F21;
$ore: #907595;
