// Taken from https://material-ui.com/customization/breakpoints/
$sm-breakpoint: 400px;
$md-breakpoint: 960px;
$lg-breakpoint: 1280px;

$sm-gutter: 10px;

$black: #030000;
$blackbg: rgba(3, 0, 0, 0.90);
$dark-gray: #151313;

$blue: #0091FF;
$red: #FF4245;
$orange: #FF932F;
$white: #2ED158;

$wood: #1e311c;
$brick: #462019;
$wheat: #fac220;
$sheep: #749F21;
$darker-sheep: #a9ab1f;
$ore: #907595;
